.buttonGroup {
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-left: 8px;
    margin-top: 8px;
    position: relative;
}


#buttonStart {
    background-color: #85DD7C;
    border: 1px solid #158D34;
    -moz-box-shadow: inset 0px 0px 1px rgba(26,154,72,1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(26,154,72,1);
    box-shadow: inset 0px 0px 1px rgba(26,154,72,1);
    background-image: -o-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -moz-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -webkit-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -ms-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    color: #1d7819;
    text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
    /* padding: 15px 32px; */
    padding: 15px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 0px 10px;
    cursor: pointer;
    /* width: 120px; */
    width: 70px;
}
#buttonPause{
    background-color: #D85257;
    border: 1px solid #951119;
    -moz-box-shadow: inset 0px 0px 1px rgba(167,32,35,1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(167,32,35,1);
    box-shadow: inset 0px 0px 1px rgba(167,32,35,1);
    background-image: -o-linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
    background-image: -moz-linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
    background-image: -webkit-linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
    background-image: -ms-linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
    background-image: linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
    color: #A7000F;
    text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
    /* padding: 15px 32px; */
    padding: 15px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* width: 120px; */
    width: 70px;
}
#buttonResume{
    background-color: #F39C45;
    border: 1px solid #A87017;
    -moz-box-shadow: inset 0px 0px 1px rgba(184,129,39,1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(184,129,39,1);
    box-shadow: inset 0px 0px 1px rgba(184,129,39,1);
    background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
    background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
    background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
    background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
    background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
    color: #A8580B;
    text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
    /* padding: 15px 32px; */
    padding: 15px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* width: 120px; */
    width: 70px;
}